@use '../../app/globals.scss' as *;

.question-answer-accordion {
  border-bottom: 1px solid $divider-color;

  &__question {
    font-size: 20px;
    color: $text-color-primary;
    font-family: inherit;
  }

  &__answer {
    font-size: 18px;
    color: $text-color-secondary;
    font-family: inherit;
  }
}
