@use '../../app/globals.scss' as *;

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  gap: 2rem;

  &__heading {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.88px;
    font-family: inherit;
    color: $text-color-primary;
    text-align: center;
  }

  &__list {
    max-width: 800px;
  }
}
