body {
  .projects-container {
    padding-top: 32px;
  }

  .projects-heading {
    text-align: center;
    padding-bottom: 16px;
  }

  .project-card-item {
    position: relative;
    height: auto;
  }

  .project-card-status-label {
    position: absolute;
    top: 40px;
    right: 16px;
    color: white;
  }
}
