body {
  .projects-container {
    margin-top: 32px;
  }

  .projects-heading {
    text-align: center;
  }

  .projects-cards {
    margin-top: 32px;
  }

  .project-card-item {
    position: relative;
  }

  .project-card-status-label {
    position: absolute;
    top: 40px;
    right: 8px;
    color: white;
    border-radius: 6px;
  }
}
