@import url("https://use.typekit.net/qnx3faq.css");

$primary-color: #2563eb;
$secondary-color: #ffffff;
$tertiary-color: #e7e5e4;
$gray-color: #878787;
$hover-color: black;
$text-color-primary: #424242;
$text-color-secondary: #707070;

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered-elements {
  text-align: center;
}

.page-heading {
  font-family: "Source Serif Pro";
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -1.12px;
}
