$primary-color: #2563eb;
$secondary-color: #ffffff;
$tertiary-color: #e7e5e4;
$gray-color: #878787;
$hover-color: black;

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered-elements {
  text-align: center;
}
