.project-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__heading {
    font-family: inherit;
    font-size: 44px;
    font-weight: 700;
  }

  &__card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  &__card {
    width: 33%;

  }

  &__cta-container {
    padding: 1.5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-top: 1.6px solid #bebebe;

  }

  &__cta-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 1rem;

  }

  &__cta-text {
    font-size: 20px;
    font-family: inherit;
  }

  &__cta-title {
    font-size: 40px;
    font-family: inherit;
    font-weight: 700;
  }

  &__cta-button {
    color: #424242;
    border: 1.8px solid #424242;
    font-family: inherit;
  }
}
