@use '../../app/globals';

body {
  .footer-container {
    padding: 48px 0;
  }

  .footer-title {
    text-align: center;
  }

  .footer-subtitle {
    text-align: center;
    color: globals.$gray-color;
  }
}
