@use '../../app/globals';

body {
  .banner {
    text-align: center;
    background-color: globals.$tertiary-color;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem 0;
  }
  
  .banner-title {
    font-family: inherit;
    font-weight: 700;
  }
}
